/* Styles for index.html */

body {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 12px;
}

li {
    list-style-type: none;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    width: 120px;
    padding: 8px;
}

.call-to-action .btn {
    border: 1px solid #F9FAF8;
}

.left {
    font-size: 24px;
    color: #F9FAF8;
}

.right {
    font-size: 18px;
    color: #E5E7EB;
}

/* Flex the header container to align links and logo horizontally */
.header-bar {
    display: flex;
    justify-content: space-around;
    gap: 300px;
    padding: 12px;
    background-color: #1F2937;
}

.section-0 {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    gap: 48px;
    padding: 100px;
}

.section-0 .content {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
}

.business-age {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

.business-statement {
    font-size: 18px;
    color: #E5E7EB;
}

.section-1 {
    display: block;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 150px;
    padding: 12px;
    gap: 12px;

}

.text {
    text-align: center;
    font-size: 18px;
}

.examples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
    gap: 36px;
}

.examples img {
    height: 120px;
    width: 120px;
}

.section-1 .content {
    display: flex;
    flex: 1;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
}

.section-2 {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote {
    width: 800px;
    padding: 80px 0;
    font-size: 36px;
    font-style: italic;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 75px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 36px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 50px 100px;
    gap: 100px;
    background-color: #3882F6;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*
for visually checking box dimensions

.image-box {
    border: 1px solid red;
}
*/